 body{
            font-family: Arial, sans-serif;
            margin:0;
        }

        .navbar{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:15px 50px;
            background:white;
        }

        .menu a{
            text-decoration:none;
            margin:10px;
            color:black;
        }

        .btn{
            background:#2979ff;
            color:white;
            padding:10px 20px;
            border:none;
        }

        .hero{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:50px;
            background:#b8acac;
        }

        .hero-text h1{
            font-size:50px;
        }

        .hero-text p{
            color:gray;
        }

        .course-btn{
            background:#2979ff;
            color:white;
            padding:12px 25px;
            border:none;
        }

        .hero img{
            width:350px;
        }

        .cards{
            display:flex;
            gap:20px;
            padding:30px 50px;
        }

        .card{
            border:1px solid #ddd;
            padding:20px;
            width:30%;
            background:white;
        }

        .card h3{
            margin-top:0;
        }